.header {
  font-weight: bold;
  margin-bottom: 32px;
  border-bottom: 3px solid #ddd;
  font-size: 2rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordscontainer {
  margin-top: 32px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.button {
  background-color: #ccc;
  border: none;
  border-radius: 8px;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  background-color: #c3c3c3;
}
